body {
    margin: 0;
    background-color: #f6f6f6;

    font-family: 'Inter';
    font-size: 14px;
    line-height: 1.5em;
}

body a {
    color: #1e1e1e;
    text-decoration: none;
}

.content {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.post {
    margin: auto;
    width: 30%;
    padding: 20px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 17px;
}

.skills span {
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 50px;
    padding: 10px 20px 10px 20px;
    display: inline-block;
    margin-bottom: 5px;
    color: #515151;
}

.profile {
    display: flex;
    gap: 17px;
    align-items: center;
}

.avatar {
    width: 65px;
    height: 65px;
    background-image: url(/images/avatar.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
}

.name {
    font-size: 19px;
}

.name span {
    color: #515151;
    font-size: 14px;
}

.details {
    margin-top: 15px;
    color: #515151;
}

.list {
    display: flex;
    flex-direction: column;
}

.list-item {
    margin-bottom: 26px;
    justify-content: center;
}

.title {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 12px;
    margin-right: 3px;
}

.year {
    font-size: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 1.5rem;
    right: 1.5rem;
    bottom: 1.5rem;

    display: flex;
    justify-content: space-between;
}

.message a {
    margin-left: 10px;

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 40px;
    border: 1px solid rgba(0,0,0,.1);
}

@font-face {
    font-family: Inter;
    src: url(../kevindinh.github.io/fonts/Inter-Regular.woff);
}

@font-face {
    font-family: Inter;
    src: url(../kevindinh.github.io/fonts/Inter-Light.woff);
    font-weight: lighter;
}

@font-face {
    font-family: Inter;
    src: url(../kevindinh.github.io/fonts/Inter-Bold.woff);
    font-weight: bold;
}
